@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 100%;
	height: 100%;
	font-family:
		'Poppins',
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	/* background: linear-gradient(130deg, #2563eb, #c026d3); */
	background: #111827;
	color: #fff;
}

*,
body {
	scroll-behavior: smooth;
}

body,
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.scrollbar_hidden::-webkit-scrollbar {
	display: none;
}

.scrollbar_custom::-webkit-scrollbar {
	width: 4px;
	height: 6px;
}

.scrollbar_custom::-webkit-scrollbar-track {
	background: gray;
}

.scrollbar_custom::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.2);
}

@layer components {
	.glass-card {
		background: rgba(255, 255, 255, 0.2);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(1.5px);
		-webkit-backdrop-filter: blur(1.5px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
	}
}
